.button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 100vw;
  height: 100dvh;
  padding: 20px;
  background-color: rgba(#000, 0.6);
}

.menu-content {
  width: 100%;
  max-width: 550px;
  padding: 60px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(#000, 0.2);
}

.label {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}

.label-text {
  display: inline-block;
  flex-shrink: 0;
  width: 100px;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
}

.checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #fff;
  border: 2px solid #000;
  border-radius: 6px;

  &:has(input:checked) {
    background: url('@/assets/images/common/icon-check.svg') no-repeat center
      center;
    background-size: 100%;
  }

  > input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
    opacity: 0;
  }
}

.range {
  width: 100%;
}
