@use '@/styles/mixins.scss' as *;

.root {
  position: relative;

  @include sp {
    padding-top: 55px;
  }
}

.balloon {
  position: absolute;
  top: -55px;
  left: -170px;
  z-index: 1;
  display: none;
  width: 180px;
  padding: 5px 15px;
  font-size: 1.8rem;
  text-align: center;
  background: #fff;
  filter: drop-shadow(0 1px 4px rgba(#000, 0.4));
  border-radius: 20px;
  animation: fade-in 0.3s backwards 1.5s;

  @include sp {
    top: -5px;
    left: 0;
  }

  &::before {
    position: absolute;
    right: -2px;
    bottom: -15px;
    z-index: -1;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-top: 0;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #fff;
    border-left: 10px solid transparent;
    transform: rotate(125deg);

    @include sp {
      right: 47px;
      transform: rotate(180deg);
    }
  }
}

.input {
  display: block;
  width: 100%;
  max-width: 420px;
  padding: 6px 8px 7px;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(#000, 0.4);
}

.next {
  position: absolute;
  right: -140px;
  bottom: 0;
  display: none;
  width: 120px;
  height: 120px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  background-color: #049fe7;
  border: 3px solid #fff;
  border-radius: 50%;
  outline: 3px solid #049fe7;
  box-shadow: 0 1px 4px rgba(#000, 0.4);
  animation: fade-in 0.3s backwards 1.5s;

  @include sp {
    top: -10px;
    right: 0;
    height: 50px;
    border-radius: 30px;
  }
}

.root.is-filled {
  .balloon,
  .next {
    display: block;
    @include sp {
      pointer-events: all;
      opacity: 1;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
