@forward './fonts';
@forward './normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: NotoSansJP, 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: 10px;
}

body {
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  line-height: 1.5;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    content: '';
    background: url('@/assets/images/common/bg-ball.png') repeat transparent;
    filter: blur(3px) opacity(0.5);
    background-size: 360px auto;
  }
}

p,
ol,
ul,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

button {
  padding: 0;
  margin: 0;
  line-height: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
