@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/NotoSansJP-Medium.ttf') format('truetype');
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: bold;
  src: url('@/assets/fonts/NotoSansJP-Bold.ttf') format('truetype');
}
