@use '@/styles/mixins' as *;

.grid {
  min-height: 100dvh;
  padding: 90px 0;
}

.panel {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
}
