@use '@/styles/mixins.scss' as *;

.enemies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 770px;
  margin: 0 auto;

  @include sp {
    flex-flow: column nowrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 30px;
  }
}

.enemies-item {
  text-align: center;
  @include sp {
    flex-shrink: 0;
    width: 100%;
  }

  > img {
    display: block;
    width: 250px;

    @include sp {
      margin: 0 auto;
    }
  }

  > p {
    display: inline-block;
    margin-top: 10px;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
  }
}

.emphasized {
  font-size: 3.6rem;
  font-weight: bold;
}

.back {
  margin-top: 50px;

  @include sp {
    margin-bottom: 50px;
  }
}
