@use '@/styles/variables.scss' as var;
@use '@/styles/mixins.scss' as *;

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100dvh;
  background-color: #fff;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  color: #fff;
  background-color: var.$red;
  border: none;
  border-radius: 30px;
}

.container {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100dvh;

  @include sp {
    background: url('@/assets/images/common/bg-complete.png') center/cover
      no-repeat #fff;
    background-attachment: fixed;
  }

  &::before {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100dvh;
    content: '';
    background: url('@/assets/images/common/bg-green.jpg') center/cover
      no-repeat;
  }

  &.is-complete {
    @include sp {
      display: block;
      overflow: auto;
    }

    &::before {
      background: url('@/assets/images/common/bg-complete.png') center/cover
        no-repeat #fff;
      background-attachment: fixed;
      @include sp {
        display: none;
      }
    }
  }
}

.back {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}
